name: Deploy to AKS
on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      version:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    env:
      ACR_LOGIN_SERVER: ${{ vars.ACR_NAME }}.azurecr.io
    permissions:
      contents: read
      id-token: write
      packages: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Azure CLI
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy to Kubernetes cluster
        uses: azure/aks-set-context@v4
        with:
          resource-group: ${{ vars.AKS_RESOURCE_GROUP }}
          cluster-name: ${{ vars.AKS_CLUSTER_NAME }}

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Helm upgrade microcommunication
        working-directory: ./env/helm/microcommunication
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo update
          helm dependency build
          helm upgrade --install microcommunication . \
            --set api.image=${{ env.ACR_LOGIN_SERVER }}/microcommunication-api \
            --set api.tag=${{ inputs.version }} \
            --set random.image=${{ env.ACR_LOGIN_SERVER }}/microcommunication-random \
            --set random.tag=${{ inputs.version }} \
            --set web.image=${{ env.ACR_LOGIN_SERVER }}/microcommunication-web \
            --set web.tag=${{ inputs.version }} \
            --set ingress.domain=${{ vars.MC_DOMAIN }} \
            --namespace default --create-namespace
