name: Build and push Docker images
on:
  push:
    branches:
      - main
      - develop
    paths:
      - src/**
      - .github/workflows/**
jobs:
  determine-version:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.set-version.outputs.semVer }}
    steps:
      - name: Pull source code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v4.2.0
        with:
          versionSpec: "6.4.x"

      - name: Determine Version
        id: set-version # step id used as a reference for output values
        uses: gittools/actions/gitversion/execute@v4.2.0
        with:
          configFilePath: .github/VersionConfig.yml

      - name: Display GitVersion outputs
        run: |
          echo "MajorMinorPatch: ${{ steps.set-version.outputs.majorMinorPatch }}"
          echo "SemVer: ${{ steps.set-version.outputs.semVer }}"
          echo "FullSemVer: ${{ steps.set-version.outputs.fullSemVer }}"
          echo "BranchName: ${{ steps.set-version.outputs.branchName }}"
          # You can access many other variables this way

  build:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    needs: determine-version
    env:
      ACR_LOGIN_SERVER: ${{ vars.ACR_NAME }}.azurecr.io
    steps:
      - name: Pull source code
        uses: actions/checkout@v1

      - name: Set up Azure CLI
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Log in to ACR
        run: |
          az acr login --name ${{ vars.ACR_NAME }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build API image
        uses: docker/build-push-action@v6
        with:
          context: src/api
          file: src/api/Dockerfile
          push: true
          tags: |
            ${{ env.ACR_LOGIN_SERVER }}/${{ github.repository_owner }}/microcommunication-api:${{ needs.determine-version.outputs.version }}
            ${{ env.ACR_LOGIN_SERVER }}/${{ github.repository_owner }}/microcommunication-api:latest
          cache-from: type=gha,scope=api-${{ github.ref_name }}
          cache-to: type=gha,scope=api-${{ github.ref_name }},mode=max

      - name: Build Random image
        uses: docker/build-push-action@v5
        with:
          context: src/random
          file: src/random/Dockerfile
          push: true
          tags: |
            ${{ env.ACR_LOGIN_SERVER }}/microcommunication-random:${{ needs.determine-version.outputs.version }}
            ${{ env.ACR_LOGIN_SERVER }}/microcommunication-random:latest
          cache-from: |
            type=gha,scope=random-${{ github.ref_name }}
            type=gha,scope=random-main
          cache-to: type=gha,scope=random-${{ github.ref_name }},mode=max

      - name: Build Web image
        uses: docker/build-push-action@v5
        with:
          context: src/web
          file: src/web/Dockerfile
          push: true
          tags: |
            ${{ env.ACR_LOGIN_SERVER }}/microcommunication-web:${{ needs.determine-version.outputs.version }}
            ${{ env.ACR_LOGIN_SERVER }}/microcommunication-web:latest
          cache-from: |
            type=gha,scope=web-${{ github.ref_name }}
            type=gha,scope=web-main
          cache-to: type=gha,scope=web-${{ github.ref_name }},mode=max
  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: build
  #   environment: test
  #   permissions:
  #     contents: read
  #     id-token: write
  #     packages: read
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v3

  #     - name: Set up Azure CLI
  #       uses: azure/login@v2
  #       with:
  #         client-id: ${{ secrets.AZURE_CLIENT_ID }}
  #         tenant-id: ${{ secrets.AZURE_TENANT_ID }}
  #         subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

  #     - name: Deploy to Kubernetes cluster
  #       uses: azure/aks-set-context@v4
  #       with:
  #         resource-group: ${{ vars.AKS_RESOURCE_GROUP }}
  #         cluster-name: ${{ vars.AKS_CLUSTER_NAME }}

  #     - name: Set up Helm
  #       uses: azure/setup-helm@v4

  #     - name: Helm upgrade microcommunication
  #       working-directory: ./env/helm/microcommunication
  #       run: |
  #         helm repo add bitnami https://charts.bitnami.com/bitnami
  #         helm repo update
  #         helm dependency build
  #         helm upgrade --install microcommunication . \
  #           --set api.image=ghcr.io/${{ github.repository_owner }}/microcommunication-api \
  #           --set api.tag=${{ github.run_id }}.${{ github.run_attempt }} \
  #           --set random.image=ghcr.io/${{ github.repository_owner }}/microcommunication-random \
  #           --set random.tag=${{ github.run_id }}.${{ github.run_attempt }} \
  #           --set web.image=ghcr.io/${{ github.repository_owner }}/microcommunication-web \
  #           --set web.tag=${{ github.run_id }}.${{ github.run_attempt }} \
  #           --set ingress.domain=${{ vars.MC_DOMAIN }} \
  #           --set mongodb.auth.rootPassword=${{ secrets.MC_MONGODB_ROOT_PASSWORD }} \
  #           --set redis.auth.password=${{ secrets.MC_REDIS_PASSWORD }} \
  #           --set api.config.signalR.redisCacheConnectionString="redis-master:6379\,ssl=false\,password=${{ secrets.MC_REDIS_PASSWORD }}" \
  #           --set random.config.database.mongoDbConnectionString="mongodb://root:${{ secrets.MC_MONGODB_ROOT_PASSWORD }}@mongodb:27017" \
  #           --namespace default --create-namespace
